$footer-height: 6rem;

.layout {
  position: relative;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;

  padding-left: 25px;
  padding-right: 25px;

  background: $page1;
}

.content {
  background: $page1;
  padding-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;

  display: flex;
  justify-content: center;

  background: $footer;
  padding-top: 0px;
  padding-bottom: 0px;
}
